.idea
CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
phpcs.xml
phpunit.xml.dist
TODO.md
Vagrantfile
ZendSkeletonModule-master.zip
.vagrant/
vendor/
config/development.config.php
data/cache/*
data/tmp/*
data/DoctrineORMModule/*
!data/cache/.gitkeep
phpunit.xml
public/img/captcha/*
public/img/jpgraph/*
