# Composer files
vendor/

# IDE
/.idea/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/*
data/cache/*
data/tmp/*

# Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# main web directory
public/img/captcha/*
public/img/jpgraph/*