.idea
.vagrant/
vendor/
config/development.config.php
data/cache/*
data/tmp/*
data/DoctrineORMModule/*
!data/cache/.gitkeep
phpunit.xml
public/img/captcha/*
public/img/jpgraph/*
ubuntu-xenial-16.04-cloudimg-console.log
